luminosity	100000			
output		output.root			
style		cms			
				


files/DY+Jets.root	DY+Jets.root	43120.	1.0	bg	1.0
files/W+Jets.root	W+Jets.root	148100.	1.0	bg	1.0
files/tt.root		tt.root		504.4	1.0	bg	1.0
files/WW.root		VV.root		65.53	1.0	bg	1.0
files/WZ.root		VV.root		24.75	1.0	bg	1.0
files/ZZ.root		VV.root		 9.549	1.0	bg	1.0

files/chargino180_stau155_lsp150.root chargino180_stau155_lsp150.root 1.0 1.0 sig 1.0
files/chargino300_stau155_lsp150.root chargino300_stau155_lsp150.root 0.7 1.0 sig 1.0
